*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?auto=format&fit=crop&w=1350&q=80')
  no-repeat center/cover fixed;
  color: #fff;
}

/* Navigation */
nav{
  width: 100%;
  padding: 15px 30px;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(10px);
}

nav h2{
  font-size: 24px;
  color: #fff;
}

/* Main Layout */
.container{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Form Box */
.form-box{
  width: 350px;
  background: rgba(0,0,0,0.55);
  padding: 25px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(6px);
}

.form-box h3{
  margin-bottom: 15px;
  color: #fff;
}

input, textarea{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #555;
  background: rgba(0,0,0,0.4);
  color: #fff;
  border-radius: 5px;
}

textarea{
  height: 120px;
}

input::placeholder,
textarea::placeholder{
  color: #ccc;
}

.save-btn{
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: #16a34a;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover{
  background: #128038;
}

/* Task List */
.list-box{
  width: 600px;
  background: rgba(0,0,0,0.55);
  padding: 20px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(6px);
}

table{
  width: 100%;
  border-collapse: collapse;
}

th{
  text-align: left;
  padding-bottom: 10px;
  color: #fff;
}

td{
  padding: 15px 10px;
  background: rgba(0,0,0,0.4);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  color: #fff;
}

/* Delete Button */
.delete-btn{
  background: #e11d48;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover{
  background: #b31237;
}
